@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* navigation bar */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 8px 8px 8px 8px;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 1000;
}

#logo {
    width: auto;
    height: auto;
}
#logo > img {
    max-width: 100px;
    max-height: 100%;
}
.menu{
    opacity: 0.5;
}
#search {
    width: 40%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search > * {
    margin: 0;
}
#search > input {
    height: 30px;
    width: 87%;
}
#search > button {
    width: 14%;
    height: 34px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    display: flex;
    align-content: center;
    justify-content: center;
}
#search > button:hover {
    background-color: #dfdfdf;
}
#search > button > svg {
    max-width: 20px;
    max-height: 20px;
    opacity: 0.5;
    
}
/* main body */
#rightMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0;

}
#rightMenu > * {
    margin-left: 10px;
}

#signIn {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    color: blue;
    border-radius: 2px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
}
#face {
    opacity: 1.0;
}


#myVideo {
    height:600px;
    width:100%;
}
main {
    margin-top: 60px;
    display: grid;
    margin-left: 10%;
}

#leftSide {
  grid-column-start: 1;
  grid-column-end: 7;
  margin-right: 10%;

}
#rightSide {
    grid-column-start: 7;
    grid-column-end: 9; 
}
.aSideVideos > img {
    height: 140.63px;
    width:250px;
}
hr {
    margin-right: 50px;
    border: 0.5px solid gray;
    opacity: 0.5;
    z-index: -1;
}
.aSideVideos {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    
} 
.parOfAsideVideos {
    margin-left: 15px;

}

.title {
    color: black;
    font-weight: bold;

    
}
.channel {
    color:grey;
}

.views {
    color: grey;
}
#vidInfo {
    display: grid;
    padding: 0;
    margin: 0;
}
#vidInfo > p {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  
}
#vidInfo > a {
    text-decoration: none;
    opacity: 0.5;
    color: black;
    z-index: -1;
}
#like {
  grid-column-start: 8;
  grid-column-end: 9;
  display: flex;
  align-content: center;
  justify-content: center;
}
#dislike {
    grid-column-start: 9;
    grid-column-end: 10;
    display: flex;
    align-content: center;
    justify-content: center;
}
#share {
    grid-column-start: 10;
    grid-column-end: 12;
    display: flex;
    align-content: center;
    justify-content: center;
}
#save {
    grid-column-start: 12;
    grid-column-end: 14;
    display: flex;
    align-content: center;
    justify-content: center;
}
#more {
    grid-column-start: 14;
    grid-column-end: 15;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
#dislike > img {
    transform: rotate(180deg);
    z-index: -1;
}