@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin: 8px 8px 25px 8px;
    
}
#logo {
    width: auto;
    height: auto;
}
#logo > img {
    max-width: 100px;
    max-height: 100%;
}
.menu{
    opacity: 0.5;
}
#search {
    width: 40%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search > * {
    margin: 0;
}
#search > input {
    height: 30px;
    width: 87%;
}
#search > button {
    width: 14%;
    height: 34px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    display: flex;
    align-content: center;
    justify-content: center;
}
#search > button:hover {
    background-color: #dfdfdf;
}
#search > button > svg{
    max-width: 20px;
    max-height: 20px;
    opacity: 0.5;
    
}
#rightMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0;

}
#rightMenu > *{
    margin-left: 10px;
}

#signIn {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    color: blue;
    border-radius: 2px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
}
#face {
    opacity: 1.0;
}



#myVideo {
    max-width: calc(100vh - (56px + 24px + 136px) * (16 / 9));
    min-width: calc(360px * (16 / 9));
    max-height: calc(360px * (16 / 9));
    min-height: 360px;
}