* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo {
    width: auto;
    height: auto;
    margin-right: 25%;
}
#logo > img {
    max-width: 100px;
    max-height: 100%;
}
#rightMenu {
    margin-left: 20%;
}
#rightMenu > a > img{
    opacity: 0.5;
}
#search {
    width: 40%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#search > * {
    margin: 0;
}
#search > input {
    height: 30px;
    width: 87%;
}
#search > button {
    width: 14%;
    height: 34px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    display: flex;
    align-content: center;
    justify-content: center;
}
#search > button > svg{
    max-width: 20px;
    max-height: 20px;
    opacity: 0.5;
    
}